h1 {
  text-align: center;
}

.column {
  width: 400px;
  float: left;
  }

.sidebar {
  width: 10%;
  float: left;
  border: 5px solid orange;
  padding:4px;
  margin: 15px;
  background-color: pink;
}

img {
  padding: 5px;
  
}
